@charset "UTF-8";

h1 { margin-bottom: 20px; }

#dt_wrapper { margin-top: 20px; }

#service-form .tab-content { padding-top: 20px; }

X.input-group-addon { width: 120px; }

._jsonform-array-deleteitem { display: none; }

