{% extends "cars/base.html" %}

{% block content %}

  <p> <b>Server:</b> Ubuntu, Python, Django, uWSGI, Nginx, SQLite3. </p>

  <p> <a class="btn btn-primary btn-lg" href="/admin" target="_blank">Admin</a> &nbsp; Enter <small>(lowercase)</small> <i>Username</i>: <b>admin</b>, <i>Password</i>: <b>admin</b>. </p>

  <p><a class="btn btn-primary btn-lg" href="/cars/api" target="_blank">REST</a> &nbsp; Web browsable REST api.</p>

  <p><a class="btn btn-success btn-lg" href="/cars/schedule" target="_blank">Schedule</a> &nbsp; Car maintenance services; technologies: jQuery, Modernizr, Bootstrap, Underscore, DataTables, Calendar, Forms.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars" target="_blank">GitHub</a> &nbsp; Git repository.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/models_cars.png" target="_blank">Diagram</a> &nbsp; Graphical object model.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/cars/models.py" target="_blank">Models</a> &nbsp; Python @ GitHub.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/cars/views.py" target="_blank">Views</a> &nbsp; Python @ GitHub.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/cars/setup_db.py" target="_blank">Database setup</a> &nbsp; Python @ GitHub.</p>
  <p><a class="btn btn-default btn-lg" href="http://gonubex.com:8888/cars/setup" target="_blank">Database exe</a> &nbsp; Execute database setup, safe if already setup.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/static/cars.js" target="_blank">Javascript</a> &nbsp; @ GitHub.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/cars/templates/cars" target="_blank">Templates</a> &nbsp; Html @ GitHub: base, index, schedule.</p>

  <p><a class="btn btn-default btn-lg" href="https://github.com/carlosgalindo/cars/blob/master/mysite/cars/tests.py" target="_blank">Tests</a> &nbsp; Python @ GitHub.</p>

  <!-- <p><a class="btn btn-default btn-lg" href="XXX" target="_blank">XXX</a> &nbsp; @ GitHub.</p> -->

{% endblock %}
